---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import TestVue from "../components/Test.vue";
import TestAstro from "../components/Test.astro";
import { loginUrl } from "@/services/googleLogin";

import { get } from "@/services/test";
---

<DefaultLayout>
  <!-- <TestVue client:only /> -->
  <TestAstro />
  <h1>The current URL is: {Astro.url}</h1>
  <h1>The current URL pathname is: {Astro.url.pathname}</h1>
  <h1>The current URL origin is: {Astro.url.origin}</h1>
</DefaultLayout>
<script src="https://apis.google.com/js/api.js"></script>

