---
import BaseHead from "../components/Blocks/BaseHead.astro";
import Header from "../components/Blocks/Header.astro";
import Footer from "../components/Blocks/Footer.astro";
import Offcanvas from "../components/Blocks/vue/Offcanvas.vue";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <meta charset="utf-8" />
    <title>My Cool Astro Layout Wraping All My Pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header />
    <main class="flex">
      <Offcanvas ref="refOffcanvas" />
      <slot />
      <!-- your content from src/pages/index.astro is injected here -->
    </main>
    <Footer />
  </body>
</html>
